# **Importing libraries and Datasets**

In [ ]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import gc 
import warnings
from matplotlib.pyplot import figure
sns.set()
warnings.filterwarnings("ignore")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
pip install "dask[dataframe]" --upgrade

In [ ]:
import dask.dataframe as dd

**Reading all the updated datasets**

In [ ]:
member_data=pd.read_csv('/content/drive/MyDrive/KKbox_data/New_preprocessed_Data/members_data_updated',parse_dates = ['registration_init_time'])
member_data.head()

,Unnamed: 0,msno,bd,registered_via,registration_init_time,city_feature,registration_method_f
0,0,Rb9UwLQTrxzBVwCB6+bCcSQWZ9JiNLC9dXtM1oEsZA8=,28.0,11.0,2011-09-11,1,0
1,1,+tJonkh+O1CA796Fm5X60UMOtB6POHAwPjbTRVl/EuU=,28.0,7.0,2011-09-14,1,1
2,2,cV358ssn7a0f7jZOwGNWS07wCKVqxyiImJUX6xcIwKw=,28.0,11.0,2011-09-15,1,0
3,3,9bzDeJP6sQodK73K5CBlJ6fgIQzPeLnRl0p5B77XP+g=,28.0,11.0,2011-09-15,1,0
4,4,WFLY3s7z4EZsieHCt63XrsdtfTEmJ+2PnnKLH5GY4Tk=,32.0,9.0,2011-09-15,0,1

In [ ]:
transaction_data = pd.read_csv('/content/drive/MyDrive/KKbox_data/New_preprocessed_Data/transaction_data_updated')
transaction_data.head()

,Unnamed: 0,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,duration,is_auto_renew_change_feature,is_cancel_change_feature,average_plan,average_amount_paid,average_amount_charged,change_in_plan
0,0,++6eU4LsQ3UQ20ILS7d99XK8WbiVgbyYL4FUgzZR134=,32,30.0,149.0,149.0,0,2017-01-31,2017-05-04,0,93,0,0,30.000000,149.0000,149.00000,1
1,1,++lvGPJOinuin/8esghpnqdljm6NXS8m8Zwchc7gOeA=,41,30.0,149.0,149.0,1,2015-08-09,2019-04-12,0,1342,1,1,26.153847,141.3077,125.79487,2
2,2,+/GXNtXWQVfKrEDqYAzcSw2xSPYMKWNj22m+5XkVQZc=,36,30.0,180.0,180.0,1,2017-03-03,2017-04-22,0,50,1,0,30.000000,180.0000,180.00000,1
3,3,+/w1UrZwyka4C9oNH3+Q8fUf3fD8R3EwWrx57ODIsqk=,36,30.0,180.0,180.0,1,2017-03-29,2017-03-31,1,2,1,1,30.000000,180.0000,180.00000,1
4,4,+00PGzKTYqtnb65mPKPyeHXcZEwqiEzktpQksaaSC3c=,41,30.0,99.0,99.0,1,2017-03-23,2017-04-23,0,31,1,0,30.000000,99.0000,99.00000,1

In [ ]:
userlogs_data = pd.read_csv('/content/drive/MyDrive/KKbox_data/New_preprocessed_Data/user_logs_updated')
userlogs_data.head()

,Unnamed: 0,msno,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs,total_secs_mean
0,0,u9E91QDTvHLq6NXjEaWv8u4QIqhrHk72kE+w31Gnhdg=,2017-03-31,8.0,4.0,0.0,1.0,21.0,18.0,6309.273,6309.273
1,1,nTeWW/eOZA/UHKdD5L7DEqKKFTjaAj3ALLPoAWsU8n0=,2017-03-30,2.0,2.0,1.0,0.0,9.0,11.0,2390.699,2390.699
2,2,2UqkWXwZbIjs03dHLU9KHJNNEvEkZVzm69f3jCS+uLI=,2017-03-31,2.0,3.0,0.0,3.0,14.0,16.0,3880.765,3880.765
3,3,ycwLc+m2O0a85jSLALtr941AaZt9ai8Qwlg9n0Nql5U=,2017-03-31,2.0,4.0,2.0,2.0,19.0,16.0,7100.454,7100.454
4,4,EGcbTofOSOkMmQyN1NMLxHEXJ1yV3t/JdhGwQ9wXjnI=,2017-03-31,2.0,1.0,0.0,1.0,14.0,16.0,3880.765,3880.765

# **Adding new features to members_data**

In [ ]:
member_data["year"]=member_data['registration_init_time'].dt.year
member_data['month']=member_data['registration_init_time'].dt.month
member_data['day']=member_data['registration_init_time'].dt.day
member_data['weekday']=member_data['registration_init_time'].dt.weekday
member_data.drop('registration_init_time',axis=1,inplace=True)

In [ ]:
member_data['month_feature']=member_data['month'].apply(lambda x:0 if (x==4 or x==5 or x==6) else 1 )

In [ ]:
member_data['year_feature']=member_data['year'].apply(lambda x:0 if x>2014 else 1 )

In [ ]:
member_data.drop(labels = ['Unnamed: 0'],inplace=True,axis=1)

In [ ]:
member_data.shape

(6769473, 8)

In [ ]:
member_data.to_csv('/content/drive/MyDrive/KKbox_data/AM_Datasets/members_AM.csv')

In [ ]:
def adjust_datatype(df):
    """
    This function adjust the datatypes of columns based upon their range
    
    Input take DataFrame
    
    example:
    if a column's maximum and minimum values are in range of (-128 to 127) then datatype
    to store that column is changed to int8
    
    Reference:
    https://www.kaggle.com/jeru666/did-you-think-of-these-features
    
    """
    int_cols = list(df.select_dtypes(include=['int']).columns)
    for col in int_cols:
        if ((np.max(df[col]) <= 127) and (np.min(df[col] >= -128))):
            df[col] = df[col].astype(np.int8)
        elif ((np.max(df[col]) <= 32767) and (np.min(df[col] >= -32768))):
            df[col] = df[col].astype(np.int16)
        elif ((np.max(df[col]) <= 2147483647) and (np.min(df[col] >= -2147483648))):
            df[col] = df[col].astype(np.int32)
        else:
            df[col] = df[col].astype(np.int64)          
    float_cols = list(df.select_dtypes(include=['float']).columns)
    for col in float_cols:
        df[col] = df[col].astype(np.float32)
        
        
        
        
        
def restart_kernel():
    """
    Used to get rid of unnessary variable
    
    https://stackoverflow.com/questions/37751120/restart-ipython-kernel-with-a-command-from-a-cell
    """
    from IPython.core.display import HTML
    HTML("<script>Jupyter.notebook.kernel.restart()</script>")
    import os
    import pandas as pd
    import numpy as np
    import matplotlib.pyplot as plt
    import seaborn as sns
    import gc 
    import warnings
    import dask.dataframe as dd
    from matplotlib.pyplot import figure
    sns.set()
    warnings.filterwarnings("ignore")

In [ ]:
restart_kernel()

# **Adding new features to transaction_data**

In [ ]:
#keeping the same transaction dataset 
transaction_data.shape

(1197050, 17)

# **Adding new features to user_logs dataset**

In [ ]:
temp_df = userlogs_data.groupby('msno').agg(active_days=('date', 'nunique'),
                                date_min=('date', 'min'),
                                date_max=('date', 'max'))

In [ ]:
userlogs_data = pd.merge(userlogs_data, temp_df, on='msno', how='left')

In [ ]:
import datetime as dt

In [ ]:
# Feature (activity period)

userlogs_data['date_max'] = pd.to_datetime(userlogs_data['date_max'], errors='coerce')

userlogs_data['date_min'] = pd.to_datetime(userlogs_data['date_min'], errors='coerce')

In [ ]:
userlogs_data['active_days'] = (userlogs_data['date_max'] - userlogs_data['date_min']).dt.days + 1

In [ ]:
userlogs_data['inactive_days'] = userlogs_data['date'].nunique() - userlogs_data['active_days']

In [ ]:
userlogs_data = userlogs_data.drop_duplicates('msno', keep='first', inplace=False)

In [ ]:
userlogs_data.drop(['Unnamed: 0','date_min','date_max'],axis=1,inplace=True)

In [ ]:
userlogs_data.fillna(0,inplace = True)

In [ ]:
userlogs_data = userlogs_data.drop_duplicates('msno', keep='first', inplace=False)

In [ ]:
userlogs_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1103894 entries, 0 to 1103893
Data columns (total 12 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   msno             1103894 non-null  object
 1   date             1103894 non-null  object
 2   num_25           1103894 non-null  float64
 3   num_50           1103894 non-null  float64
 4   num_75           1103894 non-null  float64
 5   num_985          1103894 non-null  float64
 6   num_100          1103894 non-null  float64
 7   num_unq          1103894 non-null  float64
 8   total_secs       1103894 non-null  float64
 9   total_secs_mean  1103894 non-null  float64
 10  active_days      1103894 non-null  int64
 11  inactive_days    1103894 non-null  int64
dtypes: float64(8), int64(2), object(2)
memory usage: 109.5+ MB

In [ ]:
userlogs_data.head()

,msno,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs,total_secs_mean,active_days,inactive_days
0,u9E91QDTvHLq6NXjEaWv8u4QIqhrHk72kE+w31Gnhdg=,2017-03-31,8.0,4.0,0.0,1.0,21.0,18.0,6309.273,6309.273,1,30
1,nTeWW/eOZA/UHKdD5L7DEqKKFTjaAj3ALLPoAWsU8n0=,2017-03-30,2.0,2.0,1.0,0.0,9.0,11.0,2390.699,2390.699,1,30
2,2UqkWXwZbIjs03dHLU9KHJNNEvEkZVzm69f3jCS+uLI=,2017-03-31,2.0,3.0,0.0,3.0,14.0,16.0,3880.765,3880.765,1,30
3,ycwLc+m2O0a85jSLALtr941AaZt9ai8Qwlg9n0Nql5U=,2017-03-31,2.0,4.0,2.0,2.0,19.0,16.0,7100.454,7100.454,1,30
4,EGcbTofOSOkMmQyN1NMLxHEXJ1yV3t/JdhGwQ9wXjnI=,2017-03-31,2.0,1.0,0.0,1.0,14.0,16.0,3880.765,3880.765,1,30

In [ ]:
adjust_datatype(userlogs_data)

In [ ]:
userlogs_data.to_csv('/content/drive/MyDrive/KKbox_data/AM_Datasets/userlogs')

# **Combining the Datasets**

In [ ]:
restart_kernel()

In [ ]:
transaction_data = pd.read_csv('/content/drive/MyDrive/KKbox_data/New_preprocessed_Data/transaction_data_updated')

In [ ]:
members_data = pd.read_csv('/content/drive/MyDrive/KKbox_data/AM_Datasets/members_AM.csv')

**Merging all the Datasets**

In [ ]:
combined=pd.merge(members_data,transaction_data,on='msno',how='left')

In [ ]:
adjust_datatype(combined)

In [ ]:
combined  = combined.drop_duplicates('msno', keep='first', inplace=False)

In [ ]:
combined.fillna(0,inplace=True)

In [ ]:
adjust_datatype(combined)

In [ ]:
combined=pd.merge(combined,userlogs_data,how='left',on='msno')

In [ ]:
combined  = combined.drop_duplicates('msno', keep='first', inplace=False)

In [ ]:
combined.fillna(0,inplace=True)

In [ ]:
adjust_datatype(combined)

In [ ]:
combined.drop(['Unnamed: 0_x','Unnamed: 0_y'],axis=1,inplace=True)

In [ ]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6769473 entries, 0 to 6769472
Data columns (total 34 columns):
 #   Column                        Dtype
---  ------                        -----
 0   msno                          object
 1   bd                            float32
 2   registered_via                float32
 3   city_feature                  int8
 4   registration_method_f         int8
 5   year                          int16
 6   month_feature                 int8
 7   year_feature                  int8
 8   payment_method_id             float32
 9   payment_plan_days             float32
 10  plan_list_price               float32
 11  actual_amount_paid            float32
 12  is_auto_renew                 float32
 13  transaction_date              object
 14  membership_expire_date        object
 15  is_cancel                     float32
 16  duration                      float32
 17  is_auto_renew_change_feature  float32
 18  is_cancel_change_feature      float32
 19  average_plan                  float32
 20  average_amount_paid           float32
 21  average_amount_charged        float32
 22  change_in_plan                float32
 23  date                          object
 24  num_25                        float32
 25  num_50                        float32
 26  num_75                        float32
 27  num_985                       float32
 28  num_100                       float32
 29  num_unq                       float32
 30  total_secs                    float32
 31  total_secs_mean               float32
 32  active_days                   float32
 33  inactive_days                 float32
dtypes: float32(25), int16(1), int8(4), object(4)
memory usage: 942.6+ MB

In [ ]:
combined.to_csv('/content/drive/MyDrive/KKbox_data/AM_Datasets/combined_AM_3.csv',index=False)